In [46]:
import pandas as pd

In [47]:
sales_df = pd.DataFrame({"item": ["tomatoes", "onions", "potatoes", "tomatoes", "mushrooms"],
                "quantity": [15, 26, 10, 12, 2],
                "total_price": [50.25, 39.52, 50.01, 40.20, 8.46]})

In [48]:
sales_df.loc[(sales_df["quantity"] > 10) &
            (sales_df["total_price"] < 45)]

       item  quantity  total_price
1    onions        26        39.52
3  tomatoes        12        40.20

In [49]:
sales_df.loc[(sales_df["quantity"] > 10) |
            (sales_df["total_price"] < 45)]

        item  quantity  total_price
0   tomatoes        15        50.25
1     onions        26        39.52
3   tomatoes        12        40.20
4  mushrooms         2         8.46

In [50]:
min_price = sales_df["total_price"].min()
min_price_row = sales_df.loc[sales_df["total_price"] == min_price]
min_price_row

        item  quantity  total_price
4  mushrooms         2         8.46

In [51]:
max_price = sales_df["total_price"].max()
max_price_row = sales_df.loc[sales_df["total_price"] == max_price]
max_price_row

       item  quantity  total_price
0  tomatoes        15        50.25

In [52]:
sales_df.loc[sales_df["item"] == "tomatoes", ["total_price"]].mean()

total_price    45.225
dtype: float64

In [53]:
sales_df.iloc[0:3, [0, 2]]

       item  total_price
0  tomatoes        50.25
1    onions        39.52
2  potatoes        50.01

In [54]:
sales_df.loc[sales_df["item"] == "tomatoes", ["quantity", "total_price"]]

   quantity  total_price
0        15        50.25
3        12        40.20

In [55]:
item_group_df = sales_df.groupby("item")
item_group_df

In [56]:
item_group_df = sales_df.groupby("item")
item_group_df.mean()

           quantity  total_price
item
mushrooms       2.0        8.460
onions         26.0       39.520
potatoes       10.0       50.010
tomatoes       13.5       45.225

In [45]:
store_item_group_df = sales_df.groupby(["store","item"])
store_item_group_df.max()

KeyError: 'store'